<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="现代化的在线聚会游戏平台，与好友一起享受精彩的游戏体验">
</head>
<body>
    <div id="root"></div>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html> 